<h1>Tweet一覧</h1>

<% @tweets.each do |tweet| %>
    <p>
        ユーザ名：
        <%= User.find_by(id: tweet.user_id).uid %><br>
        
        ツイート：
        <%= tweet.message %>
        <%= link_to 'いいね', likes_path(tweet_id: tweet.id), method: :post %>
        <%= link_to 'いいね削除', likes_path(tweet_id: tweet.id), method: :delete %>
        <%= "💓" %>
        <%= Like.where(tweet_id: tweet.id).count %>
    </p>
<% end %>

<%= link_to '新しくツイートする', tweets_new_path %>
<%= link_to "ログアウト", {controller: :top, action: :logout} %>